@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: NTSomic;
  font-display: swap;
  src: url("../fonts/NTSomic-Bold.woff2") format("woff2"), url("../fonts/NTSomic-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: NTSomic;
  font-display: swap;
  src: url("../fonts/NTSomic-Medium.woff2") format("woff2"), url("../fonts/NTSomic-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: NTSomic;
  font-display: swap;
  src: url("../fonts/NTSomic-Regular.woff2") format("woff2"), url("../fonts/NTSomic-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 360px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "NTSomic", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "NTSomic", sans-serif;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 83.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.625rem;
  width: 100%;
  background-color: #8456FF;
  border-radius: 2.25rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bottom-main__body,
.bottom-main__title {
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.6s, -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 0.6s, transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.6s, transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.6s, transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  -webkit-transform: translate(0, 30%);
      -ms-transform: translate(0, 30%);
          transform: translate(0, 30%);
}

._watcher-view.bottom-main__body,
._watcher-view.bottom-main__title {
  opacity: 1;
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
}

.header {
  padding: 0.75rem 0;
  position: fixed;
  width: 100%;
  height: 5rem;
  color: white;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.45s ease 0s;
  -o-transition: background-color 0.45s ease 0s;
  transition: background-color 0.45s ease 0s;
}

.header._header-scroll {
  background-color: rgba(21, 27, 38, 0.95);
}

.page-platform .header {
  background-color: #008AF5;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-main .header__container {
  width: 68%;
}

.page-platform .header__container {
  width: 100%;
  -webkit-column-gap: 3.375rem;
     -moz-column-gap: 3.375rem;
          column-gap: 3.375rem;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__logo img {
  width: 6.3125rem;
  height: auto;
}

.page-platform .header__logo img {
  width: 4.25rem;
}

.page-platform .header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.header__btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem 3rem;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.page-platform .header__btn {
  background-color: white;
  color: #008AF5;
}

.header__btn_chanel {
  display: none;
}

.page-platform .header__btn_chanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.page-platform .menu__list {
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.icon-menu {
  display: none;
}

.footer {
  padding: 2.5rem 0 2.75rem;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.footer__block:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  display: inline-block;
}

.footer__logo img {
  height: auto;
}

.footer__logo:not(:last-child) {
  margin-bottom: 1rem;
}

.footer__help {
  max-width: 20.1875rem;
  color: #1F2024;
  font-weight: 400;
  line-height: 1.5;
}

.footer__copy {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.3333333333;
  color: #888D9F;
}

.footer__btn {
  background-color: #008AF5;
  color: #ffffff;
  max-width: 25rem;
  padding: 1rem 3rem;
}

.footer__lang {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}

.menu-footer__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 1.5rem;
}

.menu-footer__link {
  font-weight: 500;
  line-height: 1.5;
  color: #1F2024;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.page {
  position: relative;
}

.page-main__bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #151B26;
  z-index: -1;
}

.page-main__bg-img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.main {
  padding-bottom: 5rem;
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.main__container {
  width: 68%;
}

.main__head {
  max-width: 38.75rem;
}

.main__title {
  font-weight: 700;
  line-height: 1.2857142857;
}

.main__title span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.main__title-img-01 {
  padding-left: 0.5rem;
}

.main__title-img-02 {
  padding: 0.875rem 0.875rem 0 0.875rem;
  position: relative;
}

.main__subtitle {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #676F82;
}

.main__btn {
  max-width: 15.625rem;
  height: 72px;
}

.main__btn-img {
  padding-right: 0.625rem;
}

.main__btn-txt {
  position: relative;
  padding-left: 0.625rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3333333333;
}

.main__btn-txt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0.0625rem;
  background-color: #F3F9FF;
  opacity: 0.5;
}

.bottom-main__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 1.0909090909;
}

.bottom-main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.bottom-main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.625rem;
  width: 100%;
  max-width: 25rem;
  background-color: rgba(255, 255, 255, 0.03);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 4.5rem;
  -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
          box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
}

.bottom-main__txt {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3333333333;
}

.tariff__title {
  font-style: normal;
  font-weight: 700;
  line-height: 1.1666666667;
  text-align: center;
}

.tariff__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.tariff__sub-title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
}

.tariff__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.tariff__item {
  position: relative;
  padding: 2.25rem 0 2.25rem;
}

.tariff__wrapper-mob {
  display: none;
}

.item-tariff-txt__head {
  background-color: #D9EDFE;
  border-radius: 1.25rem;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-tariff-txt__info {
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
}

.item-tariff-txt__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-tariff-txt__txt {
  font-weight: 500;
  line-height: 1.5;
}

.item-tariff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-tariff__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-tariff__title {
  text-align: center;
  font-weight: 400;
  line-height: 1.3333333333;
  margin-bottom: 0.5rem;
}

.item-tariff__price {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  color: #008AF5;
}

.item-tariff__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 32px;
  width: 100%;
  max-width: 9.1875rem;
  height: 48px;
  line-height: 1.5;
  background-color: rgba(0, 138, 245, 0.15);
  border-radius: 16px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item-tariff__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 45.6875em) {
  .tariff__item:nth-child(3) {
    background-color: #0088CC;
    border-radius: 2rem;
    color: #ffffff;
  }

  .tariff__item:nth-child(3) .item-tariff__price {
    color: #ffffff;
  }

  .tariff__item:nth-child(3) .item-tariff__btn {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.15);
  }
}

@media (min-width: 83.75em) {
  .footer__logo img {
    width: 11.0625rem;
  }

  .footer__help {
    font-size: 1rem;
  }

  .footer__help:not(:last-child) {
    margin-bottom: 1.6875rem;
  }

  .footer__btn:first-child {
    margin-bottom: 1.4375rem;
  }

  .footer__lang {
    margin-top: 2.25rem;
  }

  .menu-footer__link {
    font-size: 1rem;
  }

  .main__head:not(:last-child) {
    margin-bottom: 8.875rem;
  }

  .main__title {
    font-size: 3.5rem;
  }

  .main__title:not(:last-child) {
    margin-bottom: 2rem;
  }

  .main__subtitle {
    font-size: 1.25rem;
  }

  .main__subtitle:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .main__btn {
    height: 4.5rem;
  }

  .main__btn-txt {
    font-size: 1.125rem;
  }

  .bottom-main__title {
    font-size: 2.75rem;
  }

  .bottom-main__title:not(:last-child) {
    margin-bottom: 3rem;
  }

  .tariff {
    padding-top: 8rem;
  }

  .tariff {
    padding-bottom: 9.5rem;
  }

  .tariff__title {
    font-size: 3rem;
  }

  .tariff__sub-title {
    font-size: 1.25rem;
  }

  .tariff__sub-title:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .item-tariff-txt__info {
    font-size: 1rem;
  }

  .item-tariff-txt__txt {
    font-size: 1rem;
  }

  .item-tariff__title {
    font-size: 1.5rem;
  }

  .item-tariff__price {
    font-size: 2.5rem;
  }
}

@media (min-width: 48em) {
  .item-tariff__btn {
    font-size: 1rem;
  }
}

@media (min-width: 120em) {
  .page-main .header__container {
    -webkit-column-gap: 5.375rem;
       -moz-column-gap: 5.375rem;
            column-gap: 5.375rem;
  }

  .menu__list {
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
  }

  .main {
    padding-top: 10.3125rem;
  }

  .bottom-main__item {
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }

  .bottom-main__item {
    padding-top: 2.5rem;
  }

  .bottom-main__item {
    padding-bottom: 2.5rem;
  }

  .bottom-main__txt {
    font-size: 1.5rem;
  }

  .tariff__body {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .item-tariff-txt__head {
    margin-bottom: 4.375rem;
  }

  .item-tariff-txt__head {
    height: 10.25rem;
  }

  .item-tariff-txt__body {
    height: 20.5rem;
  }

  .item-tariff__head {
    height: 10.25rem;
  }

  .item-tariff__head {
    margin-bottom: 4.375rem;
  }

  .item-tariff__body {
    height: 20.5rem;
  }
}

@media (max-width: 90em) {
  .page-main .header__container {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .menu__list {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .main {
    padding-top: 6.25rem;
  }

  .bottom-main__item {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .bottom-main__item {
    padding-top: 1.875rem;
  }

  .bottom-main__item {
    padding-bottom: 1.875rem;
  }

  .bottom-main__txt {
    font-size: 1.25rem;
  }

  .tariff__body {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .tariff__item {
    padding: 1.875rem 0 1.875rem;
  }

  .item-tariff-txt__head {
    margin-bottom: 2.5rem;
  }

  .item-tariff-txt__head {
    height: 9.25rem;
  }

  .item-tariff-txt__body {
    height: 18.75rem;
  }

  .item-tariff__head {
    height: 9.25rem;
  }

  .item-tariff__head {
    margin-bottom: 2.5rem;
  }

  .item-tariff__body {
    height: 18.75rem;
  }
}

@media (max-width: 1100px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #ffffff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 1100px) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 62em) {
  .bottom-main__item {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .bottom-main__txt {
    font-size: 1.125rem;
  }
}

@media (max-width: 48em) {
  .header {
    height: 3.125rem;
  }

  .footer__container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
  }

  .bottom-main__title {
    text-align: center;
  }

  .bottom-main__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.25rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .tariff__body {
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
  }
}

@media (max-width: 30em) {
  .header__logo img {
    width: 3.75rem;
  }

  .menu__list {
    row-gap: 0.9375rem;
  }

  .menu__link {
    font-size: 1.75rem;
  }

  .main__title-img-02 {
    padding: 0.625rem 0.625rem 0 0.625rem;
    width: 3.125rem;
    height: auto;
  }
}

@media (max-width: 25em) {
  .main__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__title {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__title-img-02 {
    width: 2.5rem;
    padding: 0.3125rem 0.3125rem 0 0.3125rem;
  }

  .main__subtitle {
    text-align: center;
  }

  .main__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 93.75em) {
  .bottom-main__item img {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 81.25em) {
  .page-main .header__container {
    width: 80%;
  }

  .main__container {
    width: 80%;
  }
}

@media (max-width: 68.75em) {
  .page-main .header__container {
    width: 90%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .page-platform .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .page-platform .header__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.5rem;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: #151B26;
    padding: 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 1.5625rem;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .page-platform .menu {
    background-color: #008AF5;
  }

  .menu-open .menu {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5625rem;
  }

  .menu__link {
    font-size: 2.625rem;
  }

  .menu__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 1.5625rem;
  }

  .main__container {
    width: 90%;
  }

  .bottom-main__item img {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media (max-width: 56.25em) {
  .page-main .header__container {
    width: 100%;
  }

  .main__container {
    width: 100%;
  }
}

@media (max-width: 52.5em) {
  .item-tariff-txt__head {
    padding: 0.75rem;
  }
}

@media (max-width: 45.625em) {
  .tariff__body {
    -ms-grid-columns: 40% 1fr;
    grid-template-columns: 40% 1fr;
  }

  .tariff__item:nth-child(2) {
    background-color: #0088CC;
    border-radius: 2rem;
    color: #ffffff;
  }

  .tariff__item:nth-child(2) .item-tariff__price {
    color: #ffffff;
  }

  .tariff__item:nth-child(2) .item-tariff__btn {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.15);
  }

  .tariff__wrapper-mob {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (11.25rem)[3];
    grid-template-columns: repeat(3, 11.25rem);
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
    overflow-x: auto;
  }
}

@media (max-width: 37.5em) {
  .footer {
    padding: 1.5625rem 0 1.5625rem;
  }

  .footer__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 1.5625rem;
  }

  .menu-footer__list {
    -ms-grid-columns: (auto)[5];
    grid-template-columns: repeat(5, auto);
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}

@media (max-width: 22.5em) {
  .footer__logo img {
    width: 3.75rem;
  }

  .footer__help {
    font-size: 0.875rem;
  }

  .footer__help:not(:last-child) {
    margin-bottom: 1rem;
  }

  .footer__btn:first-child {
    margin-bottom: 1rem;
  }

  .footer__lang {
    margin-top: 1rem;
  }

  .menu-footer__link {
    font-size: 0.875rem;
  }

  .main {
    padding-top: 5rem;
  }

  .main__head:not(:last-child) {
    margin-bottom: 5rem;
  }

  .main__title {
    font-size: 2rem;
  }

  .main__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .main__subtitle {
    font-size: 0.875rem;
  }

  .main__subtitle:not(:last-child) {
    margin-bottom: 2rem;
  }

  .main__btn {
    height: 3.125rem;
  }

  .main__btn-txt {
    font-size: 0.875rem;
  }

  .bottom-main__title {
    font-size: 1.5rem;
  }

  .bottom-main__title:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .tariff {
    padding-top: 5rem;
  }

  .tariff {
    padding-bottom: 5rem;
  }

  .tariff__title {
    font-size: 2rem;
  }

  .tariff__sub-title {
    font-size: 0.875rem;
  }

  .tariff__sub-title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .item-tariff-txt__info {
    font-size: 0.875rem;
  }

  .item-tariff-txt__txt {
    font-size: 0.875rem;
  }

  .item-tariff__title {
    font-size: 1rem;
  }

  .item-tariff__price {
    font-size: 2rem;
  }

  .item-tariff__btn {
    font-size: 0.875rem;
  }
}

@media (min-width: 90em) and (max-width: 120em) {
@supports ((-moz-column-gap: clamp( 2.5rem , -6.125rem  +  9.5833333333vw , 5.375rem )) or (column-gap: clamp( 2.5rem , -6.125rem  +  9.5833333333vw , 5.375rem ))) {
    .page-main .header__container {
      -webkit-column-gap: clamp( 2.5rem , -6.125rem  +  9.5833333333vw , 5.375rem );
         -moz-column-gap: clamp( 2.5rem , -6.125rem  +  9.5833333333vw , 5.375rem );
              column-gap: clamp( 2.5rem , -6.125rem  +  9.5833333333vw , 5.375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 2.5rem , -6.125rem  +  9.5833333333vw , 5.375rem )) or (column-gap: clamp( 2.5rem , -6.125rem  +  9.5833333333vw , 5.375rem ))) {
    .page-main .header__container {
      -webkit-column-gap: calc(2.5rem + 2.875 * (100vw - 90rem) / 30);
         -moz-column-gap: calc(2.5rem + 2.875 * (100vw - 90rem) / 30);
              column-gap: calc(2.5rem + 2.875 * (100vw - 90rem) / 30);
    }
}

@supports ((-moz-column-gap: clamp( 1.875rem , -1.5rem  +  3.75vw , 3rem )) or (column-gap: clamp( 1.875rem , -1.5rem  +  3.75vw , 3rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.875rem , -1.5rem  +  3.75vw , 3rem );
         -moz-column-gap: clamp( 1.875rem , -1.5rem  +  3.75vw , 3rem );
              column-gap: clamp( 1.875rem , -1.5rem  +  3.75vw , 3rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , -1.5rem  +  3.75vw , 3rem )) or (column-gap: clamp( 1.875rem , -1.5rem  +  3.75vw , 3rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.875rem + 1.125 * (100vw - 90rem) / 30);
         -moz-column-gap: calc(1.875rem + 1.125 * (100vw - 90rem) / 30);
              column-gap: calc(1.875rem + 1.125 * (100vw - 90rem) / 30);
    }
}

@supports (padding-top: clamp( 6.25rem , -5.9375rem  +  13.5416666667vw , 10.3125rem )) {
    .main {
      padding-top: clamp( 6.25rem , -5.9375rem  +  13.5416666667vw , 10.3125rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , -5.9375rem  +  13.5416666667vw , 10.3125rem )) {
    .main {
      padding-top: calc(6.25rem + 4.0625 * (100vw - 90rem) / 30);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , -1rem  +  2.5vw , 2rem )) or (column-gap: clamp( 1.25rem , -1rem  +  2.5vw , 2rem ))) {
    .bottom-main__item {
      -webkit-column-gap: clamp( 1.25rem , -1rem  +  2.5vw , 2rem );
         -moz-column-gap: clamp( 1.25rem , -1rem  +  2.5vw , 2rem );
              column-gap: clamp( 1.25rem , -1rem  +  2.5vw , 2rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -1rem  +  2.5vw , 2rem )) or (column-gap: clamp( 1.25rem , -1rem  +  2.5vw , 2rem ))) {
    .bottom-main__item {
      -webkit-column-gap: calc(1.25rem + 0.75 * (100vw - 90rem) / 30);
         -moz-column-gap: calc(1.25rem + 0.75 * (100vw - 90rem) / 30);
              column-gap: calc(1.25rem + 0.75 * (100vw - 90rem) / 30);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.0000000625rem  +  2.0833333333vw , 2.5rem )) {
    .bottom-main__item {
      padding-top: clamp( 1.875rem , 0.0000000625rem  +  2.0833333333vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.0000000625rem  +  2.0833333333vw , 2.5rem )) {
    .bottom-main__item {
      padding-top: calc(1.875rem + 0.625 * (100vw - 90rem) / 30);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.0000000625rem  +  2.0833333333vw , 2.5rem )) {
    .bottom-main__item {
      padding-bottom: clamp( 1.875rem , 0.0000000625rem  +  2.0833333333vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.0000000625rem  +  2.0833333333vw , 2.5rem )) {
    .bottom-main__item {
      padding-bottom: calc(1.875rem + 0.625 * (100vw - 90rem) / 30);
    }
}

@supports (font-size: clamp( 1.25rem , 0.5rem  +  0.8333333333vw , 1.5rem )) {
    .bottom-main__txt {
      font-size: clamp( 1.25rem , 0.5rem  +  0.8333333333vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.5rem  +  0.8333333333vw , 1.5rem )) {
    .bottom-main__txt {
      font-size: calc(1.25rem + 0.25 * (100vw - 90rem) / 30);
    }
}

@supports ((-moz-column-gap: clamp( 1.875rem , 0.0000000625rem  +  2.0833333333vw , 2.5rem )) or (column-gap: clamp( 1.875rem , 0.0000000625rem  +  2.0833333333vw , 2.5rem ))) {
    .tariff__body {
      -webkit-column-gap: clamp( 1.875rem , 0.0000000625rem  +  2.0833333333vw , 2.5rem );
         -moz-column-gap: clamp( 1.875rem , 0.0000000625rem  +  2.0833333333vw , 2.5rem );
              column-gap: clamp( 1.875rem , 0.0000000625rem  +  2.0833333333vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 0.0000000625rem  +  2.0833333333vw , 2.5rem )) or (column-gap: clamp( 1.875rem , 0.0000000625rem  +  2.0833333333vw , 2.5rem ))) {
    .tariff__body {
      -webkit-column-gap: calc(1.875rem + 0.625 * (100vw - 90rem) / 30);
         -moz-column-gap: calc(1.875rem + 0.625 * (100vw - 90rem) / 30);
              column-gap: calc(1.875rem + 0.625 * (100vw - 90rem) / 30);
    }
}

@supports (margin-bottom: clamp( 2.5rem , -3.125rem  +  6.25vw , 4.375rem )) {
    .item-tariff-txt__head {
      margin-bottom: clamp( 2.5rem , -3.125rem  +  6.25vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , -3.125rem  +  6.25vw , 4.375rem )) {
    .item-tariff-txt__head {
      margin-bottom: calc(2.5rem + 1.875 * (100vw - 90rem) / 30);
    }
}

@supports (height: clamp( 9.25rem , 6.25rem  +  3.3333333333vw , 10.25rem )) {
    .item-tariff-txt__head {
      height: clamp( 9.25rem , 6.25rem  +  3.3333333333vw , 10.25rem );
    }
}

@supports not (height: clamp( 9.25rem , 6.25rem  +  3.3333333333vw , 10.25rem )) {
    .item-tariff-txt__head {
      height: calc(9.25rem + 1 * (100vw - 90rem) / 30);
    }
}

@supports (height: clamp( 18.75rem , 13.5rem  +  5.8333333333vw , 20.5rem )) {
    .item-tariff-txt__body {
      height: clamp( 18.75rem , 13.5rem  +  5.8333333333vw , 20.5rem );
    }
}

@supports not (height: clamp( 18.75rem , 13.5rem  +  5.8333333333vw , 20.5rem )) {
    .item-tariff-txt__body {
      height: calc(18.75rem + 1.75 * (100vw - 90rem) / 30);
    }
}

@supports (height: clamp( 9.25rem , 6.25rem  +  3.3333333333vw , 10.25rem )) {
    .item-tariff__head {
      height: clamp( 9.25rem , 6.25rem  +  3.3333333333vw , 10.25rem );
    }
}

@supports not (height: clamp( 9.25rem , 6.25rem  +  3.3333333333vw , 10.25rem )) {
    .item-tariff__head {
      height: calc(9.25rem + 1 * (100vw - 90rem) / 30);
    }
}

@supports (margin-bottom: clamp( 2.5rem , -3.125rem  +  6.25vw , 4.375rem )) {
    .item-tariff__head {
      margin-bottom: clamp( 2.5rem , -3.125rem  +  6.25vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , -3.125rem  +  6.25vw , 4.375rem )) {
    .item-tariff__head {
      margin-bottom: calc(2.5rem + 1.875 * (100vw - 90rem) / 30);
    }
}

@supports (height: clamp( 18.75rem , 13.5rem  +  5.8333333333vw , 20.5rem )) {
    .item-tariff__body {
      height: clamp( 18.75rem , 13.5rem  +  5.8333333333vw , 20.5rem );
    }
}

@supports not (height: clamp( 18.75rem , 13.5rem  +  5.8333333333vw , 20.5rem )) {
    .item-tariff__body {
      height: calc(18.75rem + 1.75 * (100vw - 90rem) / 30);
    }
}
}

@media (min-width: 22.5em) and (max-width: 83.75em) {
@supports (width: clamp( 3.75rem , 1.0637755102rem  +  11.9387755102vw , 11.0625rem )) {
    .footer__logo img {
      width: clamp( 3.75rem , 1.0637755102rem  +  11.9387755102vw , 11.0625rem );
    }
}

@supports not (width: clamp( 3.75rem , 1.0637755102rem  +  11.9387755102vw , 11.0625rem )) {
    .footer__logo img {
      width: calc(3.75rem + 7.3125 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8290816327rem  +  0.2040816327vw , 1rem )) {
    .footer__help {
      font-size: clamp( 0.875rem , 0.8290816327rem  +  0.2040816327vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8290816327rem  +  0.2040816327vw , 1rem )) {
    .footer__help {
      font-size: calc(0.875rem + 0.125 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.7474489796rem  +  1.1224489796vw , 1.6875rem )) {
    .footer__help:not(:last-child) {
      margin-bottom: clamp( 1rem , 0.7474489796rem  +  1.1224489796vw , 1.6875rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.7474489796rem  +  1.1224489796vw , 1.6875rem )) {
    .footer__help:not(:last-child) {
      margin-bottom: calc(1rem + 0.6875 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.8392857143rem  +  0.7142857143vw , 1.4375rem )) {
    .footer__btn:first-child {
      margin-bottom: clamp( 1rem , 0.8392857143rem  +  0.7142857143vw , 1.4375rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.8392857143rem  +  0.7142857143vw , 1.4375rem )) {
    .footer__btn:first-child {
      margin-bottom: calc(1rem + 0.4375 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (margin-top: clamp( 1rem , 0.5408163265rem  +  2.0408163265vw , 2.25rem )) {
    .footer__lang {
      margin-top: clamp( 1rem , 0.5408163265rem  +  2.0408163265vw , 2.25rem );
    }
}

@supports not (margin-top: clamp( 1rem , 0.5408163265rem  +  2.0408163265vw , 2.25rem )) {
    .footer__lang {
      margin-top: calc(1rem + 1.25 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8290816327rem  +  0.2040816327vw , 1rem )) {
    .menu-footer__link {
      font-size: clamp( 0.875rem , 0.8290816327rem  +  0.2040816327vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8290816327rem  +  0.2040816327vw , 1rem )) {
    .menu-footer__link {
      font-size: calc(0.875rem + 0.125 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (margin-bottom: clamp( 5rem , 3.5765306122rem  +  6.3265306122vw , 8.875rem )) {
    .main__head:not(:last-child) {
      margin-bottom: clamp( 5rem , 3.5765306122rem  +  6.3265306122vw , 8.875rem );
    }
}

@supports not (margin-bottom: clamp( 5rem , 3.5765306122rem  +  6.3265306122vw , 8.875rem )) {
    .main__head:not(:last-child) {
      margin-bottom: calc(5rem + 3.875 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (font-size: clamp( 2rem , 1.4489795918rem  +  2.4489795918vw , 3.5rem )) {
    .main__title {
      font-size: clamp( 2rem , 1.4489795918rem  +  2.4489795918vw , 3.5rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.4489795918rem  +  2.4489795918vw , 3.5rem )) {
    .main__title {
      font-size: calc(2rem + 1.5 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.4017857143rem  +  0.7142857143vw , 2rem )) {
    .main__title:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 1.4017857143rem  +  0.7142857143vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.4017857143rem  +  0.7142857143vw , 2rem )) {
    .main__title:not(:last-child) {
      margin-bottom: calc(1.5625rem + 0.4375 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.737244898rem  +  0.612244898vw , 1.25rem )) {
    .main__subtitle {
      font-size: clamp( 0.875rem , 0.737244898rem  +  0.612244898vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.737244898rem  +  0.612244898vw , 1.25rem )) {
    .main__subtitle {
      font-size: calc(0.875rem + 0.375 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (margin-bottom: clamp( 2rem , 1.8163265306rem  +  0.8163265306vw , 2.5rem )) {
    .main__subtitle:not(:last-child) {
      margin-bottom: clamp( 2rem , 1.8163265306rem  +  0.8163265306vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 2rem , 1.8163265306rem  +  0.8163265306vw , 2.5rem )) {
    .main__subtitle:not(:last-child) {
      margin-bottom: calc(2rem + 0.5 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (height: clamp( 3.125rem , 2.6198979592rem  +  2.2448979592vw , 4.5rem )) {
    .main__btn {
      height: clamp( 3.125rem , 2.6198979592rem  +  2.2448979592vw , 4.5rem );
    }
}

@supports not (height: clamp( 3.125rem , 2.6198979592rem  +  2.2448979592vw , 4.5rem )) {
    .main__btn {
      height: calc(3.125rem + 1.375 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7831632653rem  +  0.4081632653vw , 1.125rem )) {
    .main__btn-txt {
      font-size: clamp( 0.875rem , 0.7831632653rem  +  0.4081632653vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7831632653rem  +  0.4081632653vw , 1.125rem )) {
    .main__btn-txt {
      font-size: calc(0.875rem + 0.25 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (font-size: clamp( 1.5rem , 1.0408163265rem  +  2.0408163265vw , 2.75rem )) {
    .bottom-main__title {
      font-size: clamp( 1.5rem , 1.0408163265rem  +  2.0408163265vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.0408163265rem  +  2.0408163265vw , 2.75rem )) {
    .bottom-main__title {
      font-size: calc(1.5rem + 1.25 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (margin-bottom: clamp( 1.5rem , 0.9489795918rem  +  2.4489795918vw , 3rem )) {
    .bottom-main__title:not(:last-child) {
      margin-bottom: clamp( 1.5rem , 0.9489795918rem  +  2.4489795918vw , 3rem );
    }
}

@supports not (margin-bottom: clamp( 1.5rem , 0.9489795918rem  +  2.4489795918vw , 3rem )) {
    .bottom-main__title:not(:last-child) {
      margin-bottom: calc(1.5rem + 1.5 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (padding-top: clamp( 5rem , 3.8979591837rem  +  4.8979591837vw , 8rem )) {
    .tariff {
      padding-top: clamp( 5rem , 3.8979591837rem  +  4.8979591837vw , 8rem );
    }
}

@supports not (padding-top: clamp( 5rem , 3.8979591837rem  +  4.8979591837vw , 8rem )) {
    .tariff {
      padding-top: calc(5rem + 3 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (padding-bottom: clamp( 5rem , 3.3469387755rem  +  7.3469387755vw , 9.5rem )) {
    .tariff {
      padding-bottom: clamp( 5rem , 3.3469387755rem  +  7.3469387755vw , 9.5rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 3.3469387755rem  +  7.3469387755vw , 9.5rem )) {
    .tariff {
      padding-bottom: calc(5rem + 4.5 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (font-size: clamp( 2rem , 1.6326530612rem  +  1.6326530612vw , 3rem )) {
    .tariff__title {
      font-size: clamp( 2rem , 1.6326530612rem  +  1.6326530612vw , 3rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.6326530612rem  +  1.6326530612vw , 3rem )) {
    .tariff__title {
      font-size: calc(2rem + 1 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.737244898rem  +  0.612244898vw , 1.25rem )) {
    .tariff__sub-title {
      font-size: clamp( 0.875rem , 0.737244898rem  +  0.612244898vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.737244898rem  +  0.612244898vw , 1.25rem )) {
    .tariff__sub-title {
      font-size: calc(0.875rem + 0.375 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 2.0408163265rem  +  2.0408163265vw , 3.75rem )) {
    .tariff__sub-title:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 2.0408163265rem  +  2.0408163265vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 2.0408163265rem  +  2.0408163265vw , 3.75rem )) {
    .tariff__sub-title:not(:last-child) {
      margin-bottom: calc(2.5rem + 1.25 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8290816327rem  +  0.2040816327vw , 1rem )) {
    .item-tariff-txt__info {
      font-size: clamp( 0.875rem , 0.8290816327rem  +  0.2040816327vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8290816327rem  +  0.2040816327vw , 1rem )) {
    .item-tariff-txt__info {
      font-size: calc(0.875rem + 0.125 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8290816327rem  +  0.2040816327vw , 1rem )) {
    .item-tariff-txt__txt {
      font-size: clamp( 0.875rem , 0.8290816327rem  +  0.2040816327vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8290816327rem  +  0.2040816327vw , 1rem )) {
    .item-tariff-txt__txt {
      font-size: calc(0.875rem + 0.125 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (font-size: clamp( 1rem , 0.8163265306rem  +  0.8163265306vw , 1.5rem )) {
    .item-tariff__title {
      font-size: clamp( 1rem , 0.8163265306rem  +  0.8163265306vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8163265306rem  +  0.8163265306vw , 1.5rem )) {
    .item-tariff__title {
      font-size: calc(1rem + 0.5 * (100vw - 22.5rem) / 61.25);
    }
}

@supports (font-size: clamp( 2rem , 1.8163265306rem  +  0.8163265306vw , 2.5rem )) {
    .item-tariff__price {
      font-size: clamp( 2rem , 1.8163265306rem  +  0.8163265306vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.8163265306rem  +  0.8163265306vw , 2.5rem )) {
    .item-tariff__price {
      font-size: calc(2rem + 0.5 * (100vw - 22.5rem) / 61.25);
    }
}
}

@media (min-width: 22.5em) and (max-width: 48em) {
@supports (padding-top: clamp( 5rem , 3.8970588235rem  +  4.9019607843vw , 6.25rem )) {
    .main {
      padding-top: clamp( 5rem , 3.8970588235rem  +  4.9019607843vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 5rem , 3.8970588235rem  +  4.9019607843vw , 6.25rem )) {
    .main {
      padding-top: calc(5rem + 1.25 * (100vw - 22.5rem) / 25.5);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7647058824rem  +  0.4901960784vw , 1rem )) {
    .item-tariff__btn {
      font-size: clamp( 0.875rem , 0.7647058824rem  +  0.4901960784vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7647058824rem  +  0.4901960784vw , 1rem )) {
    .item-tariff__btn {
      font-size: calc(0.875rem + 0.125 * (100vw - 22.5rem) / 25.5);
    }
}
}

@media (min-width: 62em) and (max-width: 90em) {
@supports ((-moz-column-gap: clamp( 0.625rem , -0.7589285714rem  +  2.2321428571vw , 1.25rem )) or (column-gap: clamp( 0.625rem , -0.7589285714rem  +  2.2321428571vw , 1.25rem ))) {
    .bottom-main__item {
      -webkit-column-gap: clamp( 0.625rem , -0.7589285714rem  +  2.2321428571vw , 1.25rem );
         -moz-column-gap: clamp( 0.625rem , -0.7589285714rem  +  2.2321428571vw , 1.25rem );
              column-gap: clamp( 0.625rem , -0.7589285714rem  +  2.2321428571vw , 1.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.7589285714rem  +  2.2321428571vw , 1.25rem )) or (column-gap: clamp( 0.625rem , -0.7589285714rem  +  2.2321428571vw , 1.25rem ))) {
    .bottom-main__item {
      -webkit-column-gap: calc(0.625rem + 0.625 * (100vw - 62rem) / 28);
         -moz-column-gap: calc(0.625rem + 0.625 * (100vw - 62rem) / 28);
              column-gap: calc(0.625rem + 0.625 * (100vw - 62rem) / 28);
    }
}

@supports (font-size: clamp( 1.125rem , 0.8482142857rem  +  0.4464285714vw , 1.25rem )) {
    .bottom-main__txt {
      font-size: clamp( 1.125rem , 0.8482142857rem  +  0.4464285714vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.8482142857rem  +  0.4464285714vw , 1.25rem )) {
    .bottom-main__txt {
      font-size: calc(1.125rem + 0.125 * (100vw - 62rem) / 28);
    }
}
}

@media (min-width: 48em) and (max-width: 90em) {
@supports ((-moz-column-gap: clamp( 1rem , 0.0000000625rem  +  2.0833333333vw , 1.875rem )) or (column-gap: clamp( 1rem , 0.0000000625rem  +  2.0833333333vw , 1.875rem ))) {
    .tariff__body {
      -webkit-column-gap: clamp( 1rem , 0.0000000625rem  +  2.0833333333vw , 1.875rem );
         -moz-column-gap: clamp( 1rem , 0.0000000625rem  +  2.0833333333vw , 1.875rem );
              column-gap: clamp( 1rem , 0.0000000625rem  +  2.0833333333vw , 1.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1rem , 0.0000000625rem  +  2.0833333333vw , 1.875rem )) or (column-gap: clamp( 1rem , 0.0000000625rem  +  2.0833333333vw , 1.875rem ))) {
    .tariff__body {
      -webkit-column-gap: calc(1rem + 0.875 * (100vw - 48rem) / 42);
         -moz-column-gap: calc(1rem + 0.875 * (100vw - 48rem) / 42);
              column-gap: calc(1rem + 0.875 * (100vw - 48rem) / 42);
    }
}
}

@media (any-hover: hover) {
  .btn:hover {
    opacity: 0.8;
  }

  .menu__link:hover {
    color: #d3d3d3;
  }

  .menu-footer__link:hover {
    opacity: 0.8;
  }

  .item-tariff__btn:hover {
    opacity: 0.8;
  }
}