.page {
  position: relative;
}
.page-main {
  // .page-main__bg
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #151B26;
    z-index: -1;
  }
  // .page-main__bg-img
  &__bg-img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}

.main {
  @include adaptiveValue("padding-top", 165, 100, 0, 1920, 1440);
  @include adaptiveValue("padding-top", 100, 80, 3, 768, 360);
  padding-bottom: rem(80);
  position: relative;
  z-index: 1;
  color: #ffffff;
  // .main__container
  &__container {
    width: 68%;
    @media (max-width: em(1300)){
        width: 80%;
    }
    @media (max-width: em(1100)){
        width: 90%;
    }
    @media (max-width: em(900)){
        width: 100%;
    }
  }
  // .main__head
  &__head {
    max-width: rem(620);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 142, 80);
    }
    @media (max-width: em(400)){
        display: flex;
        flex-direction: column;
    }
  }
  // .main__title
  &__title {
  font-weight: 700;
  @include adaptiveValue("font-size", 56, 32);
  line-height: calc(72/56);
    span {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: max-content;
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 25);
    }
    @media (max-width: em(400)){
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
  // .main__title-img-01
  &__title-img-01 {
    padding-left: rem(8);
  }
  // .main__title-img-02
  &__title-img-02 {
    padding: rem(14) rem(14) 0 rem(14);
    position: relative;
    @media (max-width:$mobileSmall){
      padding: rem(10) rem(10) 0 rem(10);
      width: rem(50);
      height: auto; 
    }
    @media (max-width: em(400)){
        width: rem(40);
        padding: rem(5) rem(5) 0 rem(5);
    }
  }
  // .main__subtitle
  &__subtitle {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    @include adaptiveValue("font-size", 20, 14);
    line-height: calc(30/20);
    color: #676F82;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 32);
    }
    @media (max-width: em(400)){
        text-align: center;
    }
  }
  // .main__btn
  &__btn {
    max-width: rem(250);
    height: 72px;
    @include adaptiveValue("height", 72, 50);
    @media (max-width: em(400)){
        align-self: center;
    }
  }
  // .main__btn-img
  &__btn-img {
    padding-right: rem(10);
  }
  // .main__btn-txt
  &__btn-txt {
    position: relative;
    padding-left: rem(10);

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    @include adaptiveValue("font-size", 18, 14);
    line-height: calc(24/18);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: rem(1);
      background-color: #F3F9FF;
      opacity: 0.5;
    }
  }
  // .main__bottom
  &__bottom {
  }
}

.bottom-main {
  // .bottom-main__title
  &__title {
    @extend %animate;
    font-weight: 500;
    font-size: 44px;
    @include adaptiveValue("font-size", 44, 24);
    line-height: calc(48/44);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 24);
    }
    @media (max-width:$mobile){
       text-align: center; 
    }
  }
  // .bottom-main__body
  &__body {
    @extend %animate;
    display: flex;
    justify-content: space-between;
    width: 100%;
    column-gap: rem(20);
    @media (max-width:$mobile){
       flex-wrap: wrap; 
       row-gap: rem(20);
       justify-content: center;
    }
  }
  // .bottom-main__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(10);
    @include adaptiveValue("column-gap", 32, 20, 0, 1920, 1440);
    @include adaptiveValue("column-gap", 20, 10, 3, 1440, 992);

    @include adaptiveValue("padding-top", 40, 30, 0, 1920, 1440);
    @include adaptiveValue("padding-bottom", 40, 30, 0, 1920, 1440);

    width: 100%;
    max-width: rem(400);

    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(8px);
    border-radius: rem(72);

    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);

    img {
      @media (max-width: em(1500)){
          transform: scale(0.8);
      }
      @media (max-width: em(1100)){
          transform: scale(0.7);
      }
    }
  }
  // .bottom-main__txt
  &__txt {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    @include adaptiveValue("font-size", 24, 20, 0, 1920, 1440);
    @include adaptiveValue("font-size", 20, 18, 3, 1440, 992);
    line-height: calc(32/24);
  }
}

// --------------------------------------------------
// PAGE PLATFORM ===========================================
// --------------------------------------------------
.tariff {
  @include adaptiveValue("padding-top", 128, 80);
  @include adaptiveValue("padding-bottom", 152, 80);
  // .tariff__container
  &__container {
  }
  // .tariff__title
  &__title {
    font-style: normal;
    font-weight: 700;
    @include adaptiveValue("font-size", 48, 32);
    line-height: calc(56/48);
    text-align: center;
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }
  // .tariff__sub-title
  &__sub-title {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    @include adaptiveValue("font-size", 20, 14);
    line-height: calc(30/20);
    color: rgba(0, 0, 0, 0.6);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 40);
    }
  }
  // .tariff__body
  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include adaptiveValue("column-gap", 40, 30, 0, 1920, 1440);
    @include adaptiveValue("column-gap", 30, 16, 3, 1440, 768);
    @media (max-width: em(730)){
        grid-template-columns: 40% 1fr;
    }
  }
  // .tariff__item
  &__item {
    position: relative;
    padding: rem(36) 0 rem(36);

    @media (max-width: em(1440)){
      padding: rem(30) 0 rem(30);
    }

    &:nth-child(1) {}
    &:nth-child(2) {
      @media (max-width: em(730)){
        background-color: $blue-0088CC;
        border-radius: rem(32);
        color: #ffffff;
        .item-tariff__price {
          color: #ffffff;
        }
        .item-tariff__btn {
          color: #ffffff;
          background-color: rgba(255, 255, 255, 0.15);
        }
      }
    }
    &:nth-child(3) {
      @media (min-width:em(731)){
        background-color: $blue-0088CC;
        border-radius: rem(32);
        color: #ffffff;
        .item-tariff__price {
          color: #ffffff;
        }
        .item-tariff__btn {
          color: #ffffff;
          background-color: rgba(255, 255, 255, 0.15);
        }
      }
    }
    &:nth-child(4) {}
  }
	// .tariff__wrapper-mob
	&__wrapper-mob {
    display: none;
    @media (max-width: em(730)){
        display: grid;
        grid-template-columns: repeat(3, rem(180));
        column-gap: rem(16);
        overflow-x: auto;
    }
	}
}

.item-tariff-txt {
  // .item-tariff-txt__head
  &__head {
    @include adaptiveValue("margin-bottom", 70, 40, 0, 1920, 1440);
    @include adaptiveValue("height", 164, 148, 0, 1920, 1440);
    background-color: $blue-D9EDFE;
    border-radius: rem(20);
    padding: rem(24);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media (max-width: em(840)){
        padding: rem(12);
    }
  }
  // .item-tariff-txt__info
  &__info {
    text-align: center;
    font-weight: 500;
    @include adaptiveValue("font-size", 16, 14);
    line-height: calc(24/16);
  }
  // .item-tariff-txt__body
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include adaptiveValue("height", 328, 300, 0, 1920, 1440);
  }
  // .item-tariff-txt__txt
  &__txt {
    font-weight: 500;
    @include adaptiveValue("font-size", 16, 14);
    line-height: calc(24/16);
  }
}

.item-tariff {
  display: flex;
  flex-direction: column;
  align-items: center;
  // .item-tariff__head
  &__head {
    @include adaptiveValue("height", 164, 148, 0, 1920, 1440);
    @include adaptiveValue("margin-bottom", 70, 40, 0, 1920, 1440);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
	// .item-tariff__head-top
	&__head-top {
	}
  // .item-tariff__title
  &__title {
    text-align: center;
    font-weight: 400;
    @include adaptiveValue("font-size", 24, 16);
    line-height: calc(32/24);
    margin-bottom: rem(8);
  }
  // .item-tariff__price
  &__price {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-weight: 500;
    @include adaptiveValue("font-size", 40, 32);
    line-height: calc(48/40);
    color: $blue-008AF5;
  }
  // .item-tariff__btn
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;

    width: 100%;
    max-width: rem(147);
    height: 48px;

    @include adaptiveValue("font-size", 16, 14, 0, 768, 360);
    line-height: calc(24/16);

    background-color: rgba(0, 138, 245, 0.15);
    border-radius: 16px;
    transition: all 0.3s ease;
    @media (any-hover: hover){
      &:hover{
        opacity: 0.8;
      }
    }
  }
  // .item-tariff__body
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include adaptiveValue("height", 328, 300, 0, 1920, 1440);
  }
  // .item-tariff__img
  &__img {
  }
}
